In [23]:
import pandas as pd
import numpy as np

In [43]:
stats_19 = pd.read_csv('stats_19.csv')
dst_19 = pd.read_csv('dst_19.csv', index_col=0)
adp_19 = pd.read_csv('adp_19.csv', index_col=0)
k_19 = pd.read_csv('k_19.csv', index_col=0)

In [44]:
mahomes = adp_19.loc[adp_19['Name'].str.contains('Mahomes')]
mahomes['Name'] = 'Patrick Mahomes'
adp_19.loc[adp_19['Name'].str.contains('Mahomes')] = mahomes
adp_19.loc[adp_19['Name'].str.contains('Mahomes')]

,Overall,Name,Position,Team,Times Drafted,Std. Dev,High,Low,Bye
ADP,,,,,,,,,
2.04,16.4,Patrick Mahomes,QB,KC,94,7.1,1,27,10

In [72]:
list(adp_19['Name'].str.strip())
list(adp_19['Name'].apply(lambda x: ' '.join(x.split())))

[&#39;Saquon Barkley&#39;,
 &#39;Alvin Kamara&#39;,
 &#39;Christian McCaffrey&#39;,
 &#39;Ezekiel Elliott&#39;,
 &#39;James Conner&#39;,
 &#39;DeAndre Hopkins&#39;,
 &#39;LeVeon Bell&#39;,
 &#39;Nick Chubb&#39;,
 &#39;Davante Adams&#39;,
 &#39;Dalvin Cook&#39;,
 &#39;Julio Jones&#39;,
 &#39;Todd Gurley&#39;,
 &#39;Tyreek Hill&#39;,
 &#39;Michael Thomas&#39;,
 &#39;David Johnson&#39;,
 &#39;Odell Beckham Jr&#39;,
 &#39;JuJu Smith-Schuster&#39;,
 &#39;Patrick Mahomes&#39;,
 &#39;Joe Mixon&#39;,
 &#39;Travis Kelce&#39;,
 &#39;Leonard Fournette&#39;,
 &#39;Mike Evans&#39;,
 &#39;Chris Carson&#39;,
 &#39;Antonio Brown&#39;,
 &#39;Damien Williams&#39;,
 &#39;Aaron Jones&#39;,
 &#39;Adam Thielen&#39;,
 &#39;Keenan Allen&#39;,
 &#39;Josh Jacobs&#39;,
 &#39;Kerryon Johnson&#39;,
 &#39;David Montgomery&#39;,
 &#39;George Kittle&#39;,
 &#39;Devonta Freeman&#39;,
 &#39;Sony Michel&#39;,
 &#39;Amari Cooper&#39;,
 &#39;Derrick Henry&#39;,
 &#39;Stefon Diggs&#39;,
 &#39;Zach Ertz&#39;,
 &#39;Mark Ingram&#39;,
 &#39;Brandin Cooks&#39;,
 &#39;Melvin Gordon&#39;,
 &#39;Marlon Mack&#39;,
 &#39;Deshaun Watson&#39;,
 &#39;Tyler Lockett&#39;,
 &#39;Chris Godwin&#39;,
 &#39;Robert Woods&#39;,
 &#39;Julian Edelman&#39;,
 &#39;Phillip Lindsay&#39;,
 &#39;Tevin Coleman&#39;,
 &#39;Cooper Kupp&#39;,
 &#39;Miles Sanders&#39;,
 &#39;Josh Gordon&#39;,
 &#39;T.Y. Hilton&#39;,
 &#39;Aaron Rodgers&#39;,
 &#39;Kenny Golladay&#39;,
 &#39;O.J. Howard&#39;,
 &#39;Mike Williams&#39;,
 &#39;Austin Ekeler&#39;,
 &#39;Duke Johnson&#39;,
 &#39;Baker Mayfield&#39;,
 &#39;Calvin Ridley&#39;,
 &#39;Evan Engram&#39;,
 &#39;A.J. Green&#39;,
 &#39;Tyler Boyd&#39;,
 &#39;Matt Ryan&#39;,
 &#39;Derrius Guice&#39;,
 &#39;Hunter Henry&#39;,
 &#39;James White&#39;,
 &#39;Dede Westbrook&#39;,
 &#39;Drew Brees&#39;,
 &#39;D.J. Moore&#39;,
 &#39;Carson Wentz&#39;,
 &#39;Latavius Murray&#39;,
 &#39;Alshon Jeffery&#39;,
 &#39;Jared Cook&#39;,
 &#39;Robby Anderson&#39;,
 &#39;Allen Robinson&#39;,
 &#39;Jarvis Landry&#39;,
 &#39;Vance McDonald&#39;,
 &#39;Tony Pollard&#39;,
 &#39;Kenyan Drake&#39;,
 &#39;Darwin Thompson&#39;,
 &#39;Jared Goff&#39;,
 &#39;Will Fuller&#39;,
 &#39;Matt Breida&#39;,
 &#39;David Njoku&#39;,
 &#39;Tarik Cohen&#39;,
 &#39;Emmanuel Sanders&#39;,
 &#39;Devin Singletary&#39;,
 &#39;Russell Wilson&#39;,
 &#39;Lamar Jackson&#39;,
 &#39;Curtis Samuel&#39;,
 &#39;Chicago Defense&#39;,
 &#39;LeSean McCoy&#39;,
 &#39;Sammy Watkins&#39;,
 &#39;Christian Kirk&#39;,
 &#39;Rashaad Penny&#39;,
 &#39;Darrell Henderson&#39;,
 &#39;Cam Newton&#39;,
 &#39;Marvin Jones&#39;,
 &#39;Delanie Walker&#39;,
 &#39;Jordan Howard&#39;,
 &#39;Sterling Shepard&#39;,
 &#39;Kareem Hunt&#39;,
 &#39;James Washington&#39;,
 &#39;Marquez Valdes-Scantling&#39;,
 &#39;Kyler Murray&#39;,
 &#39;Philip Rivers&#39;,
 &#39;Jameis Winston&#39;,
 &#39;LA Rams Defense&#39;,
 &#39;Royce Freeman&#39;,
 &#39;Corey Davis&#39;,
 &#39;Jacksonville Defense&#39;,
 &#39;Eric Ebron&#39;,
 &#39;Geronimo Allison&#39;,
 &#39;Michael Gallup&#39;,
 &#39;Ben Roethlisberger&#39;,
 &#39;Larry Fitzgerald&#39;,
 &#39;Tom Brady&#39;,
 &#39;Adrian Peterson&#39;,
 &#39;Baltimore Defense&#39;,
 &#39;Peyton Barber&#39;,
 &#39;DeSean Jackson&#39;,
 &#39;Justice Hill&#39;,
 &#39;Dante Pettis&#39;,
 &#39;Minnesota Defense&#39;,
 &#39;Justin Jackson&#39;,
 &#39;Courtland Sutton&#39;,
 &#39;D.K. Metcalf&#39;,
 &#39;Donte Moncrief&#39;,
 &#39;Dak Prescott&#39;,
 &#39;Kalen Ballage&#39;,
 &#39;Cleveland Defense&#39;,
 &#39;Jaylen Samuels&#39;,
 &#39;Alexander Mattison&#39;,
 &#39;Mark Andrews&#39;,
 &#39;Trey Burton&#39;,
 &#39;LA Chargers Defense&#39;,
 &#39;Kirk Cousins&#39;,
 &#39;Golden Tate&#39;,
 &#39;Mecole Hardman&#39;,
 &#39;Tyrell Williams&#39;,
 &#39;Anthony Miller&#39;,
 &#39;John Brown&#39;,
 &#39;Mitch Trubisky&#39;,
 &#39;Dallas Defense&#39;,
 &#39;Carlos Hyde&#39;,
 &#39;Josh Allen&#39;,
 &#39;Greg Zuerlein&#39;,
 &#39;Denver Defense&#39;,
 &#39;Harrison Butker&#39;,
 &#39;New England Defense&#39;,
 &#39;Damien Harris&#39;,
 &#39;Keke Coutee&#39;,
 &#39;Austin Hooper&#39;,
 &#39;Justin Tucker&#39;,
 &#39;T.J. Hockenson&#39;,
 &#39;Ronald Jones II&#39;,
 &#39;Jamison Crowder&#39;,
 &#39;Jimmy Garoppolo&#39;,
 &#39;Ito Smith&#39;,
 &#39;Stephen Gostkowski&#39;,
 &#39;Derek Carr&#39;,
 &#39;Dion Lewis&#39;,
 &#39;Jordan Reed&#39;,
 &#39;Greg Olsen&#39;,
 &quot;N&#39;Keal Harry&quot;,
 &#39;CJ Anderson&#39;,
 &#39;Marquise Goodwin&#39;,
 &#39;Ty Montgomery&#39;,
 &#39;Wil Lutz&#39;,
 &#39;Dare Ogunbowale&#39;,
 &#39;Kenny Stills&#39;,
 &#39;Kaimi Fairbairn&#39;,
 &#39;Sam Darnold&#39;,
 &#39;Seattle Defense&#39;,
 &quot;Tre&#39;Quan Smith&quot;,
 &#39;Philadelphia Defense&#39;,
 &#39;Deebo Samuel&#39;,
 &#39;Miles Boykin&#39;,
 &#39;Jacoby Brissett&#39;,
 &#39;Robbie Gould&#39;,
 &#39;Matthew Stafford&#39;,
 &#39;Malcolm Brown&#39;,
 &#39;Houston Defense&#39;,
 &#39;Jake Elliott&#39;,
 &#39;Michael Badgley&#39;,
 &#39;Mason Crosby&#39;,
 &#39;Mohamed Sanu&#39;,
 &#39;Matt Prater&#39;,
 &#39;Buffalo Defense&#39;,
 &#39;Brett Maher&#39;,
 &#39;Dan Bailey&#39;]

In [45]:
stats_19 = stats_19.drop(stats_19.loc[stats_19.player.isnull()].index) 
stats_19['player']

0               Todd Gurley
1            Saquon Barkley
2      Christian McCaffrey
3              Alvin Kamara
4          Patrick Mahomes
               ...
636             Kaelin Clay
637                JJ Jones
638           Kyle Lauletta
639          Riley McCarron
640             Jojo Natson
Name: player, Length: 621, dtype: object

In [46]:
def format_name (name):
    return ''.join(e.lower() for e in name if e.isalnum())

adp_rename = adp_19.Name.apply(lambda x: format_name(x))
stats_rename = stats_19.player.apply(lambda x: format_name(x))

adp_19['match_name'] = adp_rename

stats_19['match_name'] = stats_rename

adp_join = adp_19.merge(stats_19, how="left", left_on="match_name", right_on="match_name")

In [65]:
adp_join.loc[adp_join['Name'].str.contains('Miles')]
adp_join.loc[(adp_join['targets'].isna() & adp_join['Position'].isin(['RB', 'QB', 'TE', 'WR']))]

,Overall,Name,Position,Team,Times Drafted,Std. Dev,High,Low,Bye,match_name,...,rec_td,rec_yds,rec_yds_per_rec,rush_att,rush_td,rush_yds,rush_yds_per_att,targets,two_pt_md,two_pt_pass
6,7.2,LeVeon Bell,RB,NYJ,88,2.1,1,13,11,leveonbell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28.0,Josh Jacobs,RB,LV,79,3.7,18,36,6,joshjacobs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,29.1,David Montgomery,RB,CHI,103,3.3,20,36,11,davidmontgomery,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,49.5,Miles Sanders,RB,PHI,80,5.5,37,60,9,milessanders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,63.3,Derrius Guice,RB,WAS,143,5.6,48,80,8,derriusguice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,78.0,Tony Pollard,RB,DAL,60,7.8,60,93,10,tonypollard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,79.5,Darwin Thompson,RB,KC,29,7.2,68,94,10,darwinthompson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,86.4,Devin Singletary,RB,BUF,192,12.8,53,106,11,devinsingletary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,92.6,Darrell Henderson,RB,LAR,49,6.7,75,103,9,darrellhenderson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,102.9,Kyler Murray,QB,ARI,67,8.6,80,120,8,kylermurray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,118.8,Justice Hill,RB,BAL,92,10.2,92,139,8,justicehill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,126.4,D.K. Metcalf,WR,SEA,30,8.4,108,140,6,dkmetcalf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,129.5,Alexander Mattison,RB,MIN,81,10.3,102,147,7,alexandermattison,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,133.1,Mecole Hardman,WR,KC,26,13.6,97,153,10,mecolehardman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,138.4,Mitch Trubisky,QB,CHI,38,6.8,122,150,11,mitchtrubisky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,148.2,Damien Harris,RB,NE,40,11.1,119,170,6,damienharris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,149.7,T.J. Hockenson,TE,DET,122,20.6,96,180,5,tjhockenson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,156.8,N'Keal Harry,WR,NE,14,16.3,121,175,6,nkealharry,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,163.3,Deebo Samuel,WR,SF,20,8.1,154,179,11,deebosamuel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,163.6,Miles Boykin,WR,BAL,23,14.9,124,180,8,milesboykin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
adp_join.loc[adp_join['Position'].isin(['RB', 'QB', 'TE', 'WR'])]
pos_name_change = adp_join.loc[adp_join['Position'].isin(['RB', 'QB', 'TE', 'WR'])]
pos_name_change['Name'] = pos_name_change['player']
pos_name_change.loc[pos_name_change['Name'].isna()]

,Overall,Name,Position,Team,Times Drafted,Std. Dev,High,Low,Bye,match_name,...,rec_td,rec_yds,rec_yds_per_rec,rush_att,rush_td,rush_yds,rush_yds_per_att,targets,two_pt_md,two_pt_pass
6,7.2,NaN,RB,NYJ,88,2.1,1,13,11,leveonbell,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28.0,NaN,RB,LV,79,3.7,18,36,6,joshjacobs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,29.1,NaN,RB,CHI,103,3.3,20,36,11,davidmontgomery,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,49.5,NaN,RB,PHI,80,5.5,37,60,9,milessanders,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,63.3,NaN,RB,WAS,143,5.6,48,80,8,derriusguice,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,78.0,NaN,RB,DAL,60,7.8,60,93,10,tonypollard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,79.5,NaN,RB,KC,29,7.2,68,94,10,darwinthompson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,86.4,NaN,RB,BUF,192,12.8,53,106,11,devinsingletary,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,92.6,NaN,RB,LAR,49,6.7,75,103,9,darrellhenderson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,102.9,NaN,QB,ARI,67,8.6,80,120,8,kylermurray,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,118.8,NaN,RB,BAL,92,10.2,92,139,8,justicehill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,126.4,NaN,WR,SEA,30,8.4,108,140,6,dkmetcalf,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,129.5,NaN,RB,MIN,81,10.3,102,147,7,alexandermattison,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,133.1,NaN,WR,KC,26,13.6,97,153,10,mecolehardman,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,138.4,NaN,QB,CHI,38,6.8,122,150,11,mitchtrubisky,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152,148.2,NaN,RB,NE,40,11.1,119,170,6,damienharris,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,149.7,NaN,TE,DET,122,20.6,96,180,5,tjhockenson,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,156.8,NaN,WR,NE,14,16.3,121,175,6,nkealharry,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,163.3,NaN,WR,SF,20,8.1,154,179,11,deebosamuel,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,163.6,NaN,WR,BAL,23,14.9,124,180,8,milesboykin,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def format_defense(defense):
    team = defense.split(' ')[-1]
    return team[1:-1]

dst_19 = dst_19.loc[dst_19.SACK.notnull()]
dst_19['Team'] = dst_19.Player.apply(lambda x: format_defense(x))
dst_19 = dst_19.drop(columns=['FPTS', 'FPTS/G', 'OWN', 'G'])

In [8]:
dst_19

,Player,SACK,INT,FR,FF,DEF TD,SFTY,SPC TD,Team
Rank,,,,,,,,,
1.0,New England Patriots (NE),47.0,25.0,11.0,14.0,5.0,1.0,2.0,NE
2.0,Pittsburgh Steelers (PIT),54.0,20.0,18.0,19.0,3.0,0.0,1.0,PIT
3.0,San Francisco 49ers (SF),48.0,12.0,15.0,21.0,5.0,0.0,0.0,SF
4.0,Baltimore Ravens (BAL),37.0,13.0,12.0,15.0,6.0,1.0,0.0,BAL
5.0,Los Angeles Rams (LAR),50.0,13.0,11.0,13.0,4.0,1.0,0.0,LAR
6.0,Minnesota Vikings (MIN),48.0,17.0,14.0,18.0,2.0,1.0,0.0,MIN
7.0,New York Jets (NYJ),35.0,12.0,9.0,8.0,5.0,2.0,1.0,NYJ
8.0,Kansas City Chiefs (KC),45.0,16.0,7.0,12.0,3.0,0.0,1.0,KC
9.0,New Orleans Saints (NO),51.0,13.0,10.0,11.0,3.0,1.0,1.0,NO
10.0,Tampa Bay Buccaneers (TB),47.0,12.0,16.0,20.0,6.0,0.0,0.0,TB
11.0,Tennessee Titans (TEN),43.0,14.0,9.0,10.0,3.0,1.0,1.0,TEN
12.0,Buffalo Bills (BUF),44.0,14.0,9.0,15.0,0.0,1.0,1.0,BUF
13.0,Seattle Seahawks (SEA),28.0,16.0,16.0,18.0,3.0,0.0,0.0,SEA
14.0,Indianapolis Colts (IND),41.0,15.0,8.0,13.0,1.0,2.0,2.0,IND
15.0,Philadelphia Eagles (PHI),43.0,11.0,9.0,15.0,3.0,0.0,0.0,PHI
16.0,Green Bay Packers (GB),41.0,17.0,7.0,12.0,0.0,0.0,0.0,GB
17.0,Jacksonville Jaguars (JAC),47.0,10.0,9.0,13.0,2.0,0.0,0.0,JAC
18.0,Denver Broncos (DEN),40.0,10.0,6.0,8.0,1.0,0.0,0.0,DEN
19.0,Dallas Cowboys (DAL),39.0,7.0,10.0,13.0,1.0,0.0,0.0,DAL
20.0,Chicago Bears (CHI),32.0,10.0,9.0,12.0,1.0,1.0,1.0,CHI
21.0,Carolina Panthers (CAR),53.0,14.0,7.0,8.0,1.0,2.0,0.0,CAR
22.0,Atlanta Falcons (ATL),28.0,12.0,8.0,13.0,2.0,0.0,1.0,ATL
23.0,Houston Texans (HOU),31.0,12.0,10.0,14.0,2.0,0.0,0.0,HOU
24.0,Cleveland Browns (CLE),38.0,14.0,6.0,12.0,1.0,0.0,0.0,CLE
25.0,Washington Football Team (WAS),46.0,13.0,9.0,15.0,0.0,0.0,1.0,WAS
26.0,New York Giants (NYG),36.0,10.0,6.0,8.0,2.0,1.0,0.0,NYG
27.0,Los Angeles Chargers (LAC),30.0,11.0,3.0,5.0,0.0,0.0,1.0,LAC
28.0,Las Vegas Raiders (LV),32.0,9.0,6.0,8.0,2.0,0.0,0.0,LV
29.0,Arizona Cardinals (ARI),40.0,7.0,10.0,19.0,0.0,0.0,0.0,ARI
30.0,Detroit Lions (DET),28.0,7.0,11.0,13.0,1.0,0.0,2.0,DET
31.0,Cincinnati Bengals (CIN),31.0,11.0,5.0,9.0,0.0,1.0,1.0,CIN
32.0,Miami Dolphins (MIA),23.0,13.0,3.0,9.0,1.0,1.0,1.0,MIA

In [9]:

adp_join['Team Def'] = adp_join.loc[adp_join['Name'].str.contains('Defense')]['Team']
adp_join = adp_join.merge(dst_19, how="left", left_on="Team Def", right_on="Team")

In [27]:
k_19 = k_19.loc[k_19.Player.notnull()]
k_19 = k_19.drop(columns=['FPTS', 'FPTS/G', 'OWN', 'G'])

def format_k (kicker):
    kicker = kicker.split(' ')[0:-1]
    kicker = ''.join(kicker)
    return ''.join(e.lower() for e in kicker if e.isalnum())

k_rename = k_19.Player.apply(lambda x: format_k(x))

k_19['match_name'] = k_rename

adp_join = adp_join.merge(k_19, how="left", left_on="match_name", right_on="match_name")

In [29]:
adp_join.to_csv('adp_full.csv')