In [2]:
import pandas as pd
import numpy as np

In [3]:
stats_19 = pd.read_csv('stats_19.csv')
dst_19 = pd.read_csv('dst_19.csv', index_col=0)
adp_19 = pd.read_csv('adp_19.csv', index_col=0)
k_19 = pd.read_csv('k_19.csv', index_col=0)

In [14]:
mahomes = adp_19.loc[adp_19['Name'].str.contains('Mahomes')]
mahomes['Name'] = 'Patrick Mahomes'
adp_19.loc[adp_19['Name'].str.contains('Mahomes')] = mahomes
adp_19.loc[adp_19['Name'].str.contains('Mahomes')]

,Overall,Name,Position,Team,Times Drafted,Std. Dev,High,Low,Bye
ADP,,,,,,,,,
2.04,16.4,Patrick Mahomes,QB,KC,94,7.1,1,27,10

In [4]:
stats_19 = stats_19.drop(stats_19.loc[stats_19.player.isnull()].index) 
stats_19

,age,all_td,fumbles,fumbles_lost,g,gs,pass_att,pass_cmp,pass_int,pass_td,...,rec_td,rec_yds,rec_yds_per_rec,rush_att,rush_td,rush_yds,rush_yds_per_att,targets,two_pt_md,two_pt_pass
0,24.0,21.0,1.0,1.0,14.0,14.0,0.0,0.0,0.0,0.0,...,4.0,580.0,9.83,256.0,17.0,1251.0,4.89,81.0,3.0,NaN
1,21.0,15.0,0.0,0.0,16.0,16.0,0.0,0.0,0.0,0.0,...,4.0,721.0,7.92,261.0,11.0,1307.0,5.01,121.0,1.0,NaN
2,22.0,13.0,4.0,1.0,16.0,16.0,1.0,1.0,0.0,1.0,...,6.0,867.0,8.10,219.0,7.0,1098.0,5.01,124.0,NaN,NaN
3,23.0,18.0,1.0,0.0,15.0,13.0,0.0,0.0,0.0,0.0,...,4.0,709.0,8.75,194.0,14.0,883.0,4.55,105.0,3.0,NaN
4,23.0,2.0,9.0,2.0,16.0,16.0,580.0,383.0,12.0,50.0,...,0.0,0.0,NaN,60.0,2.0,272.0,4.53,0.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,26.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN
637,26.0,0.0,2.0,1.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,3.00,1.0,0.0,0.0,0.00,1.0,NaN,NaN
638,23.0,0.0,0.0,0.0,2.0,0.0,5.0,0.0,1.0,0.0,...,0.0,0.0,NaN,1.0,0.0,-2.0,-2.00,0.0,NaN,NaN
639,25.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,1.0,NaN,NaN
640,24.0,0.0,2.0,1.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,NaN,NaN

In [5]:
def format_name (name):
    return ''.join(e.lower() for e in name if e.isalnum())

adp_rename = adp_19.Name.apply(lambda x: format_name(x))
stats_rename = stats_19.player.apply(lambda x: format_name(x))

adp_19['match_name'] = adp_rename

stats_19['match_name'] = stats_rename

adp_join = adp_19.merge(stats_19, how="left", left_on="match_name", right_on="match_name")

In [6]:
adp_join

,Overall,Name,Position,Team,Times Drafted,Std. Dev,High,Low,Bye,match_name,...,rec_td,rec_yds,rec_yds_per_rec,rush_att,rush_td,rush_yds,rush_yds_per_att,targets,two_pt_md,two_pt_pass
0,1.9,Saquon Barkley,RB,NYG,185,0.8,1,4,11,saquonbarkley,...,4.0,721.0,7.92,261.0,11.0,1307.0,5.01,121.0,1.0,NaN
1,2.4,Alvin Kamara,RB,NO,90,0.8,1,4,6,alvinkamara,...,4.0,709.0,8.75,194.0,14.0,883.0,4.55,105.0,3.0,NaN
2,3.6,Christian McCaffrey,RB,CAR,112,1.1,1,6,13,christianmccaffrey,...,6.0,867.0,8.10,219.0,7.0,1098.0,5.01,124.0,NaN,NaN
3,3.8,Ezekiel Elliott,RB,DAL,67,1.0,1,6,10,ezekielelliott,...,3.0,567.0,7.36,304.0,6.0,1434.0,4.72,95.0,NaN,NaN
4,6.1,James Conner,RB,PIT,79,1.6,1,12,8,jamesconner,...,1.0,497.0,9.04,215.0,12.0,973.0,4.53,71.0,2.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,170.1,Mohamed Sanu,WR,NE,17,10.6,142,180,6,mohamedsanu,...,4.0,838.0,12.70,7.0,0.0,44.0,6.29,94.0,1.0,NaN
189,171.2,Matt Prater,PK,DET,13,5.2,163,178,5,mattprater,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,171.8,Buffalo Defense,DEF,BUF,38,9.8,146,191,11,buffalodefense,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,172.0,Brett Maher,PK,DAL,32,10.4,145,186,10,brettmaher,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,172.3,Dan Bailey,PK,MIN,18,4.8,166,180,7,danbailey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
def format_defense(defense):
    team = defense.split(' ')[-1]
    return team[1:-1]

dst_19 = dst_19.loc[dst_19.SACK.notnull()]
dst_19['Team'] = dst_19.Player.apply(lambda x: format_defense(x))
dst_19 = dst_19.drop(columns=['FPTS', 'FPTS/G', 'OWN', 'G'])

In [8]:
dst_19

,Player,SACK,INT,FR,FF,DEF TD,SFTY,SPC TD,Team
Rank,,,,,,,,,
1.0,New England Patriots (NE),47.0,25.0,11.0,14.0,5.0,1.0,2.0,NE
2.0,Pittsburgh Steelers (PIT),54.0,20.0,18.0,19.0,3.0,0.0,1.0,PIT
3.0,San Francisco 49ers (SF),48.0,12.0,15.0,21.0,5.0,0.0,0.0,SF
4.0,Baltimore Ravens (BAL),37.0,13.0,12.0,15.0,6.0,1.0,0.0,BAL
5.0,Los Angeles Rams (LAR),50.0,13.0,11.0,13.0,4.0,1.0,0.0,LAR
6.0,Minnesota Vikings (MIN),48.0,17.0,14.0,18.0,2.0,1.0,0.0,MIN
7.0,New York Jets (NYJ),35.0,12.0,9.0,8.0,5.0,2.0,1.0,NYJ
8.0,Kansas City Chiefs (KC),45.0,16.0,7.0,12.0,3.0,0.0,1.0,KC
9.0,New Orleans Saints (NO),51.0,13.0,10.0,11.0,3.0,1.0,1.0,NO
10.0,Tampa Bay Buccaneers (TB),47.0,12.0,16.0,20.0,6.0,0.0,0.0,TB
11.0,Tennessee Titans (TEN),43.0,14.0,9.0,10.0,3.0,1.0,1.0,TEN
12.0,Buffalo Bills (BUF),44.0,14.0,9.0,15.0,0.0,1.0,1.0,BUF
13.0,Seattle Seahawks (SEA),28.0,16.0,16.0,18.0,3.0,0.0,0.0,SEA
14.0,Indianapolis Colts (IND),41.0,15.0,8.0,13.0,1.0,2.0,2.0,IND
15.0,Philadelphia Eagles (PHI),43.0,11.0,9.0,15.0,3.0,0.0,0.0,PHI
16.0,Green Bay Packers (GB),41.0,17.0,7.0,12.0,0.0,0.0,0.0,GB
17.0,Jacksonville Jaguars (JAC),47.0,10.0,9.0,13.0,2.0,0.0,0.0,JAC
18.0,Denver Broncos (DEN),40.0,10.0,6.0,8.0,1.0,0.0,0.0,DEN
19.0,Dallas Cowboys (DAL),39.0,7.0,10.0,13.0,1.0,0.0,0.0,DAL
20.0,Chicago Bears (CHI),32.0,10.0,9.0,12.0,1.0,1.0,1.0,CHI
21.0,Carolina Panthers (CAR),53.0,14.0,7.0,8.0,1.0,2.0,0.0,CAR
22.0,Atlanta Falcons (ATL),28.0,12.0,8.0,13.0,2.0,0.0,1.0,ATL
23.0,Houston Texans (HOU),31.0,12.0,10.0,14.0,2.0,0.0,0.0,HOU
24.0,Cleveland Browns (CLE),38.0,14.0,6.0,12.0,1.0,0.0,0.0,CLE
25.0,Washington Football Team (WAS),46.0,13.0,9.0,15.0,0.0,0.0,1.0,WAS
26.0,New York Giants (NYG),36.0,10.0,6.0,8.0,2.0,1.0,0.0,NYG
27.0,Los Angeles Chargers (LAC),30.0,11.0,3.0,5.0,0.0,0.0,1.0,LAC
28.0,Las Vegas Raiders (LV),32.0,9.0,6.0,8.0,2.0,0.0,0.0,LV
29.0,Arizona Cardinals (ARI),40.0,7.0,10.0,19.0,0.0,0.0,0.0,ARI
30.0,Detroit Lions (DET),28.0,7.0,11.0,13.0,1.0,0.0,2.0,DET
31.0,Cincinnati Bengals (CIN),31.0,11.0,5.0,9.0,0.0,1.0,1.0,CIN
32.0,Miami Dolphins (MIA),23.0,13.0,3.0,9.0,1.0,1.0,1.0,MIA

In [9]:

adp_join['Team Def'] = adp_join.loc[adp_join['Name'].str.contains('Defense')]['Team']
adp_join = adp_join.merge(dst_19, how="left", left_on="Team Def", right_on="Team")

In [27]:
k_19 = k_19.loc[k_19.Player.notnull()]
k_19 = k_19.drop(columns=['FPTS', 'FPTS/G', 'OWN', 'G'])

def format_k (kicker):
    kicker = kicker.split(' ')[0:-1]
    kicker = ''.join(kicker)
    return ''.join(e.lower() for e in kicker if e.isalnum())

k_rename = k_19.Player.apply(lambda x: format_k(x))

k_19['match_name'] = k_rename

adp_join = adp_join.merge(k_19, how="left", left_on="match_name", right_on="match_name")

In [29]:
adp_join.to_csv('adp_full.csv')