In [61]:
import pandas as pd
adp = pd.read_csv('adp_full.csv', index_col=0)

In [62]:
adp

,Overall,Name,Position,Team_x,Times Drafted,Std. Dev,High,Low,Bye,match_name,...,FGA,PCT,LG,1-19,20-29,30-39,40-49,50+,XPT,XPA
0,1.9,Saquon Barkley,RB,NYG,185,0.8,1,4,11,saquonbarkley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.4,Alvin Kamara,RB,NO,90,0.8,1,4,6,alvinkamara,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.6,Christian McCaffrey,RB,CAR,112,1.1,1,6,13,christianmccaffrey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.8,Ezekiel Elliott,RB,DAL,67,1.0,1,6,10,ezekielelliott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.1,James Conner,RB,PIT,79,1.6,1,12,8,jamesconner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,170.1,Mohamed Sanu,WR,NE,17,10.6,142,180,6,mohamedsanu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,171.2,Matt Prater,PK,DET,13,5.2,163,178,5,mattprater,...,32.0,87.5,54.0,0.0,8.0,12.0,5.0,3.0,30.0,30.0
190,171.8,Buffalo Defense,DEF,BUF,38,9.8,146,191,11,buffalodefense,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,172.0,Brett Maher,PK,DAL,32,10.4,145,186,10,brettmaher,...,36.0,80.6,62.0,0.0,10.0,6.0,7.0,6.0,32.0,33.0
192,172.3,Dan Bailey,PK,MIN,18,4.8,166,180,7,danbailey,...,28.0,75.0,52.0,0.0,5.0,11.0,4.0,1.0,30.0,31.0

In [63]:
adp['Name'].apply(lambda x: ' '.join(x.split()))
adp['Name'] = adp['Name'].apply(lambda x: ' '.join(x.split()))
adp

,Overall,Name,Position,Team_x,Times Drafted,Std. Dev,High,Low,Bye,match_name,...,FGA,PCT,LG,1-19,20-29,30-39,40-49,50+,XPT,XPA
0,1.9,Saquon Barkley,RB,NYG,185,0.8,1,4,11,saquonbarkley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.4,Alvin Kamara,RB,NO,90,0.8,1,4,6,alvinkamara,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.6,Christian McCaffrey,RB,CAR,112,1.1,1,6,13,christianmccaffrey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.8,Ezekiel Elliott,RB,DAL,67,1.0,1,6,10,ezekielelliott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.1,James Conner,RB,PIT,79,1.6,1,12,8,jamesconner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,170.1,Mohamed Sanu,WR,NE,17,10.6,142,180,6,mohamedsanu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,171.2,Matt Prater,PK,DET,13,5.2,163,178,5,mattprater,...,32.0,87.5,54.0,0.0,8.0,12.0,5.0,3.0,30.0,30.0
190,171.8,Buffalo Defense,DEF,BUF,38,9.8,146,191,11,buffalodefense,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,172.0,Brett Maher,PK,DAL,32,10.4,145,186,10,brettmaher,...,36.0,80.6,62.0,0.0,10.0,6.0,7.0,6.0,32.0,33.0
192,172.3,Dan Bailey,PK,MIN,18,4.8,166,180,7,danbailey,...,28.0,75.0,52.0,0.0,5.0,11.0,4.0,1.0,30.0,31.0

In [64]:
adp.columns

Index([&#39;Overall&#39;, &#39;Name&#39;, &#39;Position&#39;, &#39;Team_x&#39;, &#39;Times Drafted&#39;, &#39;Std. Dev&#39;,
       &#39;High&#39;, &#39;Low&#39;, &#39;Bye&#39;, &#39;match_name&#39;, &#39;age&#39;, &#39;all_td&#39;, &#39;fumbles&#39;,
       &#39;fumbles_lost&#39;, &#39;g&#39;, &#39;gs&#39;, &#39;pass_att&#39;, &#39;pass_cmp&#39;, &#39;pass_int&#39;,
       &#39;pass_td&#39;, &#39;pass_yds&#39;, &#39;player&#39;, &#39;pos&#39;, &#39;rec&#39;, &#39;rec_td&#39;, &#39;rec_yds&#39;,
       &#39;rec_yds_per_rec&#39;, &#39;rush_att&#39;, &#39;rush_td&#39;, &#39;rush_yds&#39;,
       &#39;rush_yds_per_att&#39;, &#39;targets&#39;, &#39;two_pt_md&#39;, &#39;two_pt_pass&#39;, &#39;Team Def&#39;,
       &#39;Player_x&#39;, &#39;SACK&#39;, &#39;INT&#39;, &#39;FR&#39;, &#39;FF&#39;, &#39;DEF TD&#39;, &#39;SFTY&#39;, &#39;SPC TD&#39;,
       &#39;Team_y&#39;, &#39;Player_y&#39;, &#39;FG&#39;, &#39;FGA&#39;, &#39;PCT&#39;, &#39;LG&#39;, &#39;1-19&#39;, &#39;20-29&#39;,
       &#39;30-39&#39;, &#39;40-49&#39;, &#39;50+&#39;, &#39;XPT&#39;, &#39;XPA&#39;],
      dtype=&#39;object&#39;)

In [65]:
adp = adp.drop(columns=['match_name', 'Bye', 'Team Def', 'Player_x', 'Player_y', 'Team_y', 'player', 'pos'])

In [66]:
adp = adp.rename(columns={'Team_x':'Team'})

In [67]:
adp.columns

Index([&#39;Overall&#39;, &#39;Name&#39;, &#39;Position&#39;, &#39;Team&#39;, &#39;Times Drafted&#39;, &#39;Std. Dev&#39;,
       &#39;High&#39;, &#39;Low&#39;, &#39;age&#39;, &#39;all_td&#39;, &#39;fumbles&#39;, &#39;fumbles_lost&#39;, &#39;g&#39;, &#39;gs&#39;,
       &#39;pass_att&#39;, &#39;pass_cmp&#39;, &#39;pass_int&#39;, &#39;pass_td&#39;, &#39;pass_yds&#39;, &#39;rec&#39;,
       &#39;rec_td&#39;, &#39;rec_yds&#39;, &#39;rec_yds_per_rec&#39;, &#39;rush_att&#39;, &#39;rush_td&#39;,
       &#39;rush_yds&#39;, &#39;rush_yds_per_att&#39;, &#39;targets&#39;, &#39;two_pt_md&#39;, &#39;two_pt_pass&#39;,
       &#39;SACK&#39;, &#39;INT&#39;, &#39;FR&#39;, &#39;FF&#39;, &#39;DEF TD&#39;, &#39;SFTY&#39;, &#39;SPC TD&#39;, &#39;FG&#39;, &#39;FGA&#39;,
       &#39;PCT&#39;, &#39;LG&#39;, &#39;1-19&#39;, &#39;20-29&#39;, &#39;30-39&#39;, &#39;40-49&#39;, &#39;50+&#39;, &#39;XPT&#39;, &#39;XPA&#39;],
      dtype=&#39;object&#39;)

In [79]:
adp = adp.fillna(0)

In [69]:
dummy_cols = pd.get_dummies(adp[['Position', 'Team']])
adp = adp.merge(dummy_cols, left_on=adp.index, right_on=dummy_cols.index)
adp

,key_0,Overall,Name,Position,Team,Times Drafted,Std. Dev,High,Low,age,...,Team_NO,Team_NYG,Team_NYJ,Team_PHI,Team_PIT,Team_SEA,Team_SF,Team_TB,Team_TEN,Team_WAS
0,0,1.9,Saquon Barkley,RB,NYG,185,0.8,1,4,21.0,...,0,1,0,0,0,0,0,0,0,0
1,1,2.4,Alvin Kamara,RB,NO,90,0.8,1,4,23.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3.6,Christian McCaffrey,RB,CAR,112,1.1,1,6,22.0,...,0,0,0,0,0,0,0,0,0,0
3,3,3.8,Ezekiel Elliott,RB,DAL,67,1.0,1,6,23.0,...,0,0,0,0,0,0,0,0,0,0
4,4,6.1,James Conner,RB,PIT,79,1.6,1,12,23.0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,188,170.1,Mohamed Sanu,WR,NE,17,10.6,142,180,29.0,...,0,0,0,0,0,0,0,0,0,0
189,189,171.2,Matt Prater,PK,DET,13,5.2,163,178,NaN,...,0,0,0,0,0,0,0,0,0,0
190,190,171.8,Buffalo Defense,DEF,BUF,38,9.8,146,191,NaN,...,0,0,0,0,0,0,0,0,0,0
191,191,172.0,Brett Maher,PK,DAL,32,10.4,145,186,NaN,...,0,0,0,0,0,0,0,0,0,0
192,192,172.3,Dan Bailey,PK,MIN,18,4.8,166,180,NaN,...,0,0,0,0,0,0,0,0,0,0

In [81]:
adp.columns

Index([&#39;Overall&#39;, &#39;Name&#39;, &#39;Times Drafted&#39;, &#39;Std. Dev&#39;, &#39;High&#39;, &#39;Low&#39;, &#39;age&#39;,
       &#39;all_td&#39;, &#39;fumbles&#39;, &#39;fumbles_lost&#39;, &#39;g&#39;, &#39;gs&#39;, &#39;pass_att&#39;, &#39;pass_cmp&#39;,
       &#39;pass_int&#39;, &#39;pass_td&#39;, &#39;pass_yds&#39;, &#39;rec&#39;, &#39;rec_td&#39;, &#39;rec_yds&#39;,
       &#39;rec_yds_per_rec&#39;, &#39;rush_att&#39;, &#39;rush_td&#39;, &#39;rush_yds&#39;,
       &#39;rush_yds_per_att&#39;, &#39;targets&#39;, &#39;two_pt_md&#39;, &#39;two_pt_pass&#39;, &#39;SACK&#39;,
       &#39;INT&#39;, &#39;FR&#39;, &#39;FF&#39;, &#39;DEF TD&#39;, &#39;SFTY&#39;, &#39;SPC TD&#39;, &#39;FG&#39;, &#39;FGA&#39;, &#39;PCT&#39;, &#39;LG&#39;,
       &#39;1-19&#39;, &#39;20-29&#39;, &#39;30-39&#39;, &#39;40-49&#39;, &#39;50+&#39;, &#39;XPT&#39;, &#39;XPA&#39;, &#39;Position_DEF&#39;,
       &#39;Position_PK&#39;, &#39;Position_QB&#39;, &#39;Position_RB&#39;, &#39;Position_TE&#39;,
       &#39;Position_WR&#39;, &#39;Team_ARI&#39;, &#39;Team_ATL&#39;, &#39;Team_BAL&#39;, &#39;Team_BUF&#39;,
       &#39;Team_CAR&#39;, &#39;Team_CHI&#39;, &#39;Team_CIN&#39;, &#39;Team_CLE&#39;, &#39;Team_DAL&#39;, &#39;Team_DEN&#39;,
       &#39;Team_DET&#39;, &#39;Team_FA&#39;, &#39;Team_GB&#39;, &#39;Team_HOU&#39;, &#39;Team_IND&#39;, &#39;Team_JAX&#39;,
       &#39;Team_KC&#39;, &#39;Team_LAC&#39;, &#39;Team_LAR&#39;, &#39;Team_LV&#39;, &#39;Team_MIA&#39;, &#39;Team_MIN&#39;,
       &#39;Team_NE&#39;, &#39;Team_NO&#39;, &#39;Team_NYG&#39;, &#39;Team_NYJ&#39;, &#39;Team_PHI&#39;, &#39;Team_PIT&#39;,
       &#39;Team_SEA&#39;, &#39;Team_SF&#39;, &#39;Team_TB&#39;, &#39;Team_TEN&#39;, &#39;Team_WAS&#39;],
      dtype=&#39;object&#39;)

In [73]:
adp = adp.drop(columns=['key_0', 'Position', 'Team'])

In [82]:
adp.to_csv('adp_data_19.csv', index=False)