In [13]:
import pandas as pd
adp = pd.read_csv('adp_full.csv', index_col=0)

In [8]:
adp

,Overall,Name,Position,Team_x,Times Drafted,Std. Dev,High,Low,Bye,match_name,...,FGA,PCT,LG,1-19,20-29,30-39,40-49,50+,XPT,XPA
0,1.9,Saquon Barkley,RB,NYG,185,0.8,1,4,11,saquonbarkley,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.4,Alvin Kamara,RB,NO,90,0.8,1,4,6,alvinkamara,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.6,Christian McCaffrey,RB,CAR,112,1.1,1,6,13,christianmccaffrey,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.8,Ezekiel Elliott,RB,DAL,67,1.0,1,6,10,ezekielelliott,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.1,James Conner,RB,PIT,79,1.6,1,12,8,jamesconner,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,170.1,Mohamed Sanu,WR,NE,17,10.6,142,180,6,mohamedsanu,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,171.2,Matt Prater,PK,DET,13,5.2,163,178,5,mattprater,...,32.0,87.5,54.0,0.0,8.0,12.0,5.0,3.0,30.0,30.0
190,171.8,Buffalo Defense,DEF,BUF,38,9.8,146,191,11,buffalodefense,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,172.0,Brett Maher,PK,DAL,32,10.4,145,186,10,brettmaher,...,36.0,80.6,62.0,0.0,10.0,6.0,7.0,6.0,32.0,33.0
192,172.3,Dan Bailey,PK,MIN,18,4.8,166,180,7,danbailey,...,28.0,75.0,52.0,0.0,5.0,11.0,4.0,1.0,30.0,31.0

In [7]:
adp.columns

Index(['Overall', 'Name', 'Position', 'Team_x', 'Times Drafted', 'Std. Dev',
       'High', 'Low', 'Bye', 'match_name', 'age', 'all_td', 'fumbles',
       'fumbles_lost', 'g', 'gs', 'pass_att', 'pass_cmp', 'pass_int',
       'pass_td', 'pass_yds', 'player', 'pos', 'rec', 'rec_td', 'rec_yds',
       'rec_yds_per_rec', 'rush_att', 'rush_td', 'rush_yds',
       'rush_yds_per_att', 'targets', 'two_pt_md', 'two_pt_pass', 'Team Def',
       'Player_x', 'SACK', 'INT', 'FR', 'FF', 'DEF TD', 'SFTY', 'SPC TD',
       'Team_y', 'Player_y', 'FG', 'FGA', 'PCT', 'LG', '1-19', '20-29',
       '30-39', '40-49', '50+', 'XPT', 'XPA'],
      dtype='object')

In [14]:
adp = adp.drop(columns=['match_name', 'Bye', 'Team Def', 'Player_x', 'Player_y', 'Team_y'])

In [16]:
adp.columns

Index(['Overall', 'Name', 'Position', 'Team_x', 'Times Drafted', 'Std. Dev',
       'High', 'Low', 'age', 'all_td', 'fumbles', 'fumbles_lost', 'g', 'gs',
       'pass_att', 'pass_cmp', 'pass_int', 'pass_td', 'pass_yds', 'player',
       'pos', 'rec', 'rec_td', 'rec_yds', 'rec_yds_per_rec', 'rush_att',
       'rush_td', 'rush_yds', 'rush_yds_per_att', 'targets', 'two_pt_md',
       'two_pt_pass', 'SACK', 'INT', 'FR', 'FF', 'DEF TD', 'SFTY', 'SPC TD',
       'FG', 'FGA', 'PCT', 'LG', '1-19', '20-29', '30-39', '40-49', '50+',
       'XPT', 'XPA'],
      dtype='object')